{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 115,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
